<div class="main">
  <div class="container">
    <div class="index">
    <% @users.each do |user| %>
      <img src="<%= "/user_images/#{user.image_name}" %>" >
      <%= link_to(user.name,"/users/#{user.id}") %>
    <% end %>
    </div>
  </div>
</div>
